<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
      https://www.springframework.org/schema/beans/spring-beans.xsd
      http://www.springframework.org/schema/context
      https://www.springframework.org/schema/context/spring-context.xsd">

    <import resource="spring-do.xml"/>

<!--    方式一，把sqlSessionFactory注入到sqlSession，然后再把sqlSeesion注入到实现类中-->
    <bean id="userMapper" class="com.tuzhi.mapper.UserMapperImpl">
        <!--        把SqlSessionTemplate就是sqlSession给userMapperImpl中的sqlSession变量-->
        <property name="sqlSession" ref="sqlSession"/>
    </bean>

<!--    方式二，直接把把sqlSessionFactory注入到实现类中-->
    <bean id="userMapper2" class="com.tuzhi.mapper.UserMapperImpl2">
        <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
    </bean>
</beans>